<!DOCTYPE html>
<html lang="en">
<head>
   <title>Edit Task</title>
</head>
<body>
   <h3>Edit Task</h3>
   <form method="post" action="{% url 'editname' iNameID=name.id %}">
       {% csrf_token %}
       Task Name: <input type="text" name="firstname" value="{{ name.first_name}}"><br>
       Task Description: <input type="text" name="lastname" value="{{ name.last_name}}"><br>
       Time to Complete: <input type="text" name="lastname" value="{{ name.last_name}}"><br>
       <button href="">Cancel</button>
       <button type="submit">Edit Task</button>
   </form>
</body>
</html>