<!DOCTYPE html>
<html lang="en">
<head>
	<title>Tasks</title>
</head>
<body>
	<h2>Tasks</h2>
	{% for name in names %} <br>
	Task: {{name.task}} <br> 
	Description: {{name.description}} <br> 
	Hours To Complete: {{name.time_to_complete}} <br>
	<a href="{% url 'editname' iNameID=name.id %}"><button>Edit</button></a>
	<a href="{% url 'deletename' iNameID=name.id %}"><button>Delete</button></a> <br>
	_______________________________________
	{% endfor %}
	<br>
	<a href="/addnames"><button>Add Task</button></a>
</body>
</html>